.quote {
  padding: 64px 0;
}

.quote-block {
  padding: 4rem;
  background: var(--gradient-primary-light--next);
  box-sizing: border-box;
  border-radius: 1rem;
  text-align: left;
}

@media (--sm-viewport) {
  .quote-block {
    padding: 2rem;
  }
}

.quote-img {
  max-width: 50%;
}
