.footer-content-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;

  &.footer-content-sub-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }
}

.divider {
  border: 1px solid var(--colors-base-grey-75--next);
}
