:root {
  --alpha-20: rgba(0, 0, 0, 0.05);

  --colors-base-white: #ffffff;
  --colors-base-grey-25: #f9f9fa;
  --colors-base-grey-50: #f3f4f5;
  --colors-base-grey-75: #edeef0;
  --colors-base-grey-200: #cfd2d7;
  --colors-base-grey-400: #9ea5b0;
  --colors-base-grey-600: #6e7888;
  --colors-base-grey-800: #3d4b61;
  --colors-base-grey-900: #25354d;
  --colors-base-grey: #0d1f39;
  --colors-base-black: #000000;

  --colors-themed-primary: #5528ff;
  --colors-themed-dark: #331899;
  --colors-themed-light: #eeeaff;
  --colors-themed-darkmode: #bba9ff;
  --colors-themed-background: #faf9ff;

  --colors-oathkeeper-background: #fdf9fe;
  --colors-oathkeeper-light: #f8ecfd;
  --colors-oathkeeper-darkmode: #e3b1f8;
  --colors-oathkeeper-primary: #b93dee;
  --colors-oathkeeper-dark: #6f258f;

  --colors-dockertest-background: #f7feff;
  --colors-dockertest-light: #e6fcfe;
  --colors-dockertest-darkmode: #9bf1f9;
  --colors-dockertest-primary: #04ddf1;
  --colors-dockertest-dark: #028491;

  --colors-keto-background: #f7fefb;
  --colors-keto-light: #e6fcf2;
  --colors-keto-darkmode: #99f3c9;
  --colors-keto-primary: #00e078;
  --colors-keto-dark: #008648;

  --colors-kratos-background: #fffbf8;
  --colors-kratos-light: #fff3e9;
  --colors-kratos-darkmode: #ffcfa5;
  --colors-kratos-primary: #ff871f;
  --colors-kratos-dark: #995113;

  --colors-hydra-background: #fffbfa;
  --colors-hydra-light: #fff0ee;
  --colors-hydra-darkmode: #ffc4b9;
  --colors-hydra-primary: #ff6b51;
  --colors-hydra-dark: #994031;

  --color-error-background: #fff7f7;
  --color-error-light: #ffe6e6;
  --color-error-darkmode: #ff9999;
  --color-error-primary: #ff0000;
  --color-error-dark: #990000;

  --color-warning-background: #fffef9;
  --color-warning-light: #fffdea;
  --color-warning-darkmode: #fef6ab;
  --color-warning-primary: #fde82c;
  --color-warning-dark: #988b1b;

  --color-success-background: #fafef8;
  --color-success-light: #eefbe8;
  --color-success-darkmode: #bcf0a2;
  --color-success-primary: #57d916;
  --color-success-dark: #34820d;

  --color-info-background: #f7fdff;
  --color-info-light: #e6f8ff;
  --color-info-darkmode: #99e3ff;
  --color-info-primary: #00baff;
  --color-info-dark: #007099;

  --gradient-ory: radial-gradient(
    100% 114.57% at 0% 0%,
    #9bf1f9 0%,
    #5528ff 100%
  );
  --gradient-oathkeeper: radial-gradient(
    100% 114.57% at 0% 0%,
    #bba9ff 0%,
    #b93dee 100%
  );
  --gradient-dockertest: radial-gradient(
    100% 114.57% at 0% 0%,
    #99f3c9 0%,
    #04ddf1 100%
  );
  --gradient-keto: radial-gradient(
    100% 114.57% at 0% 0%,
    #fef6ab 0%,
    #00e078 100%
  );
  --gradient-kratos: radial-gradient(
    100% 114.57% at 0% 0%,
    #ffc4b9 0%,
    #ff871f 100%
  );
  --gradient-hydra: radial-gradient(
    100% 114.57% at 0% 0%,
    #e3b1f8 0%,
    #ff6b51 100%
  );
  --gradient-white: radial-gradient(
    100% 114.57% at 0% 0%,
    #f9f9fa 0%,
    #cfd2d7 100%
  );
  --gradient-grey: radial-gradient(
    100% 114.57% at 0% 0%,
    #6e7888 0%,
    #0d1f39 100%
  );
}

.theme-hydra {
  --colors-themed-primary: var(--colors-hydra-primary);
  --colors-themed-light: var(--colors-hydra-light);
  --colors-themed-background: var(--colors-hydra-background);
  --colors-themed-dark: var(--colors-hydra-dark);
}

.theme-oathkeeper {
  --colors-themed-primary: var(--colors-oathkeeper-primary);
  --colors-themed-light: var(--colors-oathkeeper-light);
  --colors-themed-background: var(--colors-oathkeeper-background);
  --colors-themed-dark: var(--colors-oathkeeper-dark);
}

.theme-kratos {
  --colors-themed-primary: var(--colors-kratos-primary);
  --colors-themed-light: var(--colors-kratos-light);
  --colors-themed-background: var(--colors-kratos-background);
  --colors-themed-dark: var(--colors-kratos-dark);
}

.theme-keto {
  --colors-themed-primary: var(--colors-keto-primary);
  --colors-themed-light: var(--colors-keto-light);
  --colors-themed-background: var(--colors-keto-background);
  --colors-themed-dark: var(--colors-keto-dark);
}
