.btn-base {
  color: var(--colors-base-white--next);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 2px;
}

.style-filled {
  background: var(--colors-themed-primary--next);

  &:hover {
    background: var(--colors-themed-dark--next);
  }

  &:focus {
    background: var(--colors-themed-primary--next);
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    background: var(--colors-base-grey--next);
  }

  &:disabled {
    background: var(--colors-themed-primary--next);
    opacity: 0.5;
  }
}

.style-outlined {
  background: transparent;
  color: var(--colors-themed-primary--next);
  border: 1px solid var(--colors-themed-primary--next);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-dark--next);
    border: 1px solid var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-text {
  background: transparent;
  color: var(--colors-themed-primary--next);

  &:hover {
    color: var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

@media (--sm), (--xs) {
  .btn-base {
    padding: 4px 12px;
  }
}
