.footer {
  padding: 64px 0;
  background-color: var(--colors-base-grey-25--next);
  color: var(--colors-base-grey-600--next);
}

.footer-left {
  display: flex;
  margin-right: auto;
}

.footer-fill {
  margin: 0 auto;
}

.footer-item {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: start;
}

.footer-text {
  width: 152px;
  overflow: hidden;
  white-space: nowrap;
}
