.navigation {
  background-color: var(--colors-base-white--next);
  box-shadow: var(--elevation-large);
  padding: 16px 0;
  /*position: fixed;*/
  top: 0;
  z-index: 999;
  overflow: hidden;
}

.nav-logo {
  display: flex;
  align-items: center;
  width: 64px;
  padding-right: 32px;
}

.mobile-container {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  transition: all 0.5s ease;
}

.mobile-nav-active {
  position: absolute;
  visibility: visible;
  opacity: 1;
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (--lg), (--md) {
  .mobile-nav-active {
    visibility: hidden;
    opacity: 0;
  }
}
