.stats-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.text-title {
  color: var(--colors-base-grey-900--next);
}

.text-description {
  color: var(--colors-base-grey-600--next);
}
