.feature-three {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;

  &.feature-three-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
  }
}

.feature-three-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
