@lost gutter 20px;
@lost flexbox flex;

.container-fluid {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.row {
  lost-flex-container: row;
}

.top-sm {
  align-items: flex-start;
}

.middle-sm {
  align-items: center;
}

.bottom-sm {
  align-items: flex-end;
}

.justify-center-sm {
  justify-content: center;
}

@media (--mobile-viewport) {
  .mobile-offset-64 {
    margin-top: 64px !important;
  }
  .mobile-offset-32 {
    margin-top: 32px !important;
  }
  .mobile-offset-16 {
    margin-top: 16px !important;
  }
  .mobile-offset-8 {
    margin-top: 8px !important;
  }
  .center-mobile {
    text-align: center;
    margin: 0 auto;
  }
}

@media (--sm-viewport) {
  .hidden-sm {
    display: none !important;
  }
}

@media (--md-viewport) {
  .hidden-md {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .hidden-lg {
    display: none !important;
  }
}

@for $i from 1 to 12 {
  .col-sm-$i {
    lost-column: $(i) / 12 12 10px;
  }

  .col-sm-offset-$i {
    lost-offset: $(i) / 12 12 20px;
  }
}

@media (--md-viewport) {
  .container-fluid {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  @for $i from 1 to 12 {
    .col-md-$i {
      lost-column: $(i) / 12 12 20px;
    }

    .col-md-offset-$i {
      lost-offset: $(i) / 12 12 20px;
    }
  }
}

@media (--lg-viewport) {
  .container-fluid {
    width: calc(100% - 20px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  @for $i from 1 to 12 {
    .col-lg-$i {
      lost-column: $(i) / 12 12 20px;
    }

    .col-lg-offset-$i {
      lost-offset: $(i) / 12 12 20px;
    }
  }
}

/* NEXT */

@media (--xs) {
  .hidden-xs--next {
    display: none !important;
  }
}

@media (--sm) {
  .hidden-sm--next {
    display: none !important;
  }
}

@media (--md) {
  .hidden-md--next {
    display: none !important;
  }
}

@media (--lg) {
  .hidden-lg--next {
    display: none !important;
  }
}

.container-fluid--next {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (--lg) {
  .container-fluid--next {
    width: calc(100% - 448px);
    max-width: 1280px;
  }
}

@media (--xl) {
  .container-fluid--next {
    width: calc(100% - 448px);
    max-width: 1920px;
  }
}

@media (--lg), (--xl) {
  @for $i from 1 to 12 {
    .col-lg-$(i)--next {
      lost-column: $(i) / 12 12 32px;
    }

    .col-lg-offset-$(i)--next {
      lost-offset: $(i) / 12 12 32px;
    }
  }
}

@media (--md) {
  .container-fluid--next {
    width: calc(100% - 448px);
    max-width: 960px;
  }
  @for $i from 1 to 12 {
    .col-md-$(i)--next {
      lost-column: $(i) / 12 12 32px;
    }

    .col-md-offset-$(i)--next {
      lost-column: $(i) / 12 12 32px;
    }
  }
}

@media (--sm) {
  .container-fluid--next {
    lost-utility: edit;
    width: 100%;
    max-width: 600px;
  }

  @for $i from 1 to 12 {
    .col-sm-$(i)--next {
      lost-column: $(i) / 12 12 32px;
    }

    .col-sm-offset-$(i)--next {
      lost-offset: $(i) / 12 12 32px;
    }
  }
}

@media (--xs) {
  .container-fluid--next {
    width: calc(100% - 24px);
    max-width: 350px; /*max(100vw, 444px);*/
  }
  @for $i from 1 to 12 {
    .col-xs-$(i)--next {
      lost-column: $(i) / 12 12 24px;
    }

    .col-xs-offset-$(i)--next {
      lost-offset: $(i) / 12 12 24px;
    }
  }
}
