.coding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;

  background: /*url(wire / pattern.png),*/ #0d1f39;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
