.coding {
  background-color: var(--colors-base-grey--next);
  padding: 128px 0;
  /*background: url(wire / pattern.png), #0d1f39;*/
}

.code-container {
  padding: 0;
  background: var(--colors-base-black--next);

  /* base/grey 900 */
  border: 1px solid var(--colors-base-grey-900--next);
  box-sizing: border-box;
  /* elevation / showcase */

  box-shadow: 0 25px 140px -12px rgba(85, 40, 255, 0.15);
  border-radius: 16px;

  overflow: hidden;
}

@media (--md-viewport), (--sm-viewport) {
  .coding {
    padding: 64px 0;
  }
}
