.feature-one {
  background-color: var(--colors-base-white--next);
  padding: 128px 0 0;
}

.feature-one-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.feature-one-content-center {
  align-items: center;
}

.feature-one-content-start {
  align-items: flex-start;
}
