.navigation {
  box-shadow: var(--elevation-large);
  padding: 16px 0;
}

.nav-logo {
  width: 16px;
}

.nav-container {
  width: calc(100% - 32px);
  max-width: 1216px;
  margin: 0 auto;
}

@media (--md) {
  .nav-container {
    width: calc(100% - 32px);
    max-width: 912px;
  }
}

@media (--sm) {
  .nav-container {
    width: calc(100% - 24px);
    max-width: 552px;
  }
}

@media (--xs) {
  .nav-container {
    width: calc(100% - 16px);
    max-width: 552px;
  }
}


li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
