@import '../styles/properties.css';

.highlight {
    background: var(--colors-base-white);
    padding-bottom: 6rem;

    & h3 {
        color: var(--colors-themed-default);
        font-size: 1.2rem;
    }

    & :global a:any-link {
        color: var(--colors-base-dark);

        &:hover {
            color: var(--colors-base-white);
        }
    }
}

.highlight-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.highlight-box {
    width: 33%;
    background-color: var(--colors-themed-light);
    padding: 1rem 0rem;

    & h3 {
        padding-left: 1rem;
        border-left: 2px solid;
        border-color: var(--colors-themed-default)
    }

    &:hover {
        background-color: var(--colors-themed-default);
        transition: 0.25s ease-in-out;

        & h3 {
            color: var(--colors-base-white);
            border-color: var(--colors-base-white)
        }
    }
}

@media (--sm-viewport) {
    .highlight {
        & h3 {
            font-size: 1.067rem;
        }
    }

    .highlight-row {
        flex-wrap: wrap;
    }

    .highlight-box {
        padding: 1rem 1rem;
        width: 100%;
    }
}

@media (--md-viewport) {
    .highlight {
        & h3 {
            font-size: 1.125rem;
        }
    }

    .highlight-row {
        flex-wrap: wrap;
    }

    .highlight-box {
        padding: 1rem 1rem;
        width: 100%;
    }
}