.profile {
  border: 1px solid;
  border-color: var(--colors-base-white--next);
  background-color: var(--colors-base-white--next);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 calc((100% / 5) - 2px);
}

.profileImg {
  width: 100%;
  height: auto;
  filter: grayscale(.95);
}

@media (--md) {
  .profile {
    flex: 0 calc((100% / 4) - 2px);
  }
}

@media (--sm) {
  .profile {
    flex: 0 calc((100% / 3) - 2px);
  }
}

@media (--xs) {
  .profile {
    flex: 0 calc((100% / 1) - 2px);
  }
}
