.team {
  background-color: var(--colors-base-white);
  padding: 144px 0;

  & a:any-link {
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-dark);
      text-decoration: underline;
    }
  }
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}