.hero {
  /*lost-utility: edit;*/
  background-color: var(--colors-base-white--next);
  padding: 128px 0;
}

.feature-text {
  color: var(--colors-base-grey-900--next);
}

.feature-heading {
  color: var(--colors-base-grey--next);
}

@media (--sm), (--xs) {
  .hero {
    padding: 64px 0;
  }
}
