@lost gutter 32px;
@lost flexbox flex;

:root {
  --xs-min: 0px;
  --xs-max: 599px;
  --sm-min: 600px;
  --sm-max: 959px;
  --md-min: 960px;
  --md-max: 1279px;
  --lg-min: 1280px;
  --lg-max: 1919px;
  --xl-min: 1920px;
}

.container {
  display: flex;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  lost-center: 100%;
  /*margin: 0 auto;*/
}

.row {
  lost-flex-container: row;
  flex-direction: row;
}

.column {
  lost-flex-container: column;
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-stretch {
  justify-content: stretch;
}

/*
  Large desktops
*/
@media (min-width: 1280px) {
  .container-fluid {
    width: calc(100% - 32px);
    max-width: 1216px;
  }

  .hidden-lg {
    display: none !important;
  }

  .col-lg-offset-1 {
    lost-offset: 1/12 12;
  }

  .col-lg-1 {
    lost-column: 1/12 12;
  }
  .col-lg-2 {
    lost-column: 2/12 12;
  }
  .col-lg-3 {
    lost-column: 3/12 12;
  }
  .col-lg-4 {
    lost-column: 4/12 12;
  }
  .col-lg-5 {
    lost-column: 5/12 12;
  }
  .col-lg-6 {
    lost-column: 6/12 12;
  }
  .col-lg-7 {
    lost-column: 7/12 12;
  }
  .col-lg-8 {
    lost-column: 8/12 12;
  }
  .col-lg-9 {
    lost-column: 9/12 12;
  }
  .col-lg-10 {
    lost-column: 10/12 12;
  }
  .col-lg-11 {
    lost-column: 11/12 12;
  }
  .col-lg-12 {
    lost-column: 12/12 12;
  }
}

/*
  small laptops / large tablet
*/
@media (min-width: 960px) and (max-width: 1279px) {
  .container-fluid {
    width: calc(100% - 32px);
    max-width: 912px;
    lost-center: 912px;
    /*width: 100%;
    max-width: 1300px;
    margin: 0 auto;*/
  }

  .hidden-md {
    display: none !important;
  }

  .col-md-offset-1 {
    lost-offset: 1/12 12 flex;
  }

  .col-md-1 {
    lost-column: 1/12 12 flex;
  }
  .col-md-2 {
    lost-column: 2/12 12 flex;
  }
  .col-md-3 {
    lost-column: 3/12 12 flex;
  }
  .col-md-4 {
    lost-column: 4/12 12 flex;
  }
  .col-md-5 {
    lost-column: 5/12 12 flex;
  }
  .col-md-6 {
    lost-column: 6/12 12 flex;
  }
  .col-md-7 {
    lost-column: 7/12 12 flex;
  }
  .col-md-8 {
    lost-column: 8/12 12 flex;
  }
  .col-md-9 {
    lost-column: 9/12 12 flex;
  }
  .col-md-10 {
    lost-column: 10/12 12 flex;
  }
  .col-md-11 {
    lost-column: 11/12 12 flex;
  }
  .col-md-12 {
    lost-column: 12/12 12 flex;
  }
}

/*
  sm - tablets
*/
@media (min-width: 600px) and (max-width: 959px) {
  .container-fluid {
    /*lost-utility: edit;*/
    width: calc(100% - 24px);
    max-width: 552px;
    lost-center: 552px;
  }

  .hidden-sm {
    display: none !important;
  }

  .col-sm-offset-1 {
    lost-offset: 1/12 12 24px flex;
  }

  .col-sm-1 {
    lost-column: 1/12 12 24px flex;
  }
  .col-sm-2 {
    lost-column: 2/12 12 24px flex;
  }
  .col-sm-3 {
    lost-column: 3/12 12 24px flex;
  }
  .col-sm-4 {
    lost-column: 4/12 12 24px flex;
  }
  .col-sm-5 {
    lost-column: 5/12 12 24px flex;
  }
  .col-sm-6 {
    lost-column: 6/12 12 24px flex;
  }
  .col-sm-7 {
    lost-column: 7/12 12 24px flex;
  }
  .col-sm-8 {
    lost-column: 8/12 12 24px flex;
  }
  .col-sm-9 {
    lost-column: 9/12 12 24px flex;
  }
  .col-sm-10 {
    lost-column: 10/12 12 24px flex;
  }
  .col-sm-11 {
    lost-column: 11/12 12 24px flex;
  }
  .col-sm-12 {
    lost-column: 12/12 12 24px flex;
  }
}

/*xs - extra small (phone)*/
@media (min-width: 0px) and (max-width: 599px) {
  .container-fluid {
    width: calc(100vw - 16px);
    max-width: 552px; /*max(calc(100vw - 32px), 425px);*/
    lost-center: 552px;
  }

  .hidden-xs {
    display: none !important;
  }

  .col-xs-offset-1 {
    lost-offset: 1/12 12 16px flex;
  }

  .col-xs-1 {
    lost-column: 1/12 12 16px flex;
  }
  .col-xs-2 {
    lost-column: 2/12 12 16px flex;
  }
  .col-xs-3 {
    lost-column: 3/12 12 16px flex;
  }
  .col-xs-4 {
    lost-column: 4/12 12 16px flex;
  }
  .col-xs-5 {
    lost-column: 5/12 12 16px flex;
  }
  .col-xs-6 {
    lost-column: 6/12 12 16px flex;
  }
  .col-xs-7 {
    lost-column: 7/12 12 16px flex;
  }
  .col-xs-8 {
    lost-column: 8/12 12 16px flex;
  }
  .col-xs-9 {
    lost-column: 9/12 12 16px flex;
  }
  .col-xs-10 {
    lost-column: 10/12 12 16px flex;
  }
  .col-xs-11 {
    lost-column: 11/12 12 16px flex;
  }
  .col-xs-12 {
    lost-column: 12/12 12 16px flex;
  }
}

/*@media (--mobile-viewport) {
  .container-fluid {
    width: calc(100% - 24px);
    max-width: 350px;
  }
}*/

