@lost gutter 32px;
@lost flexbox flex;

.container {
  display: flex;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  lost-flex-container: row;
  flex-direction: row;
}

.column {
  lost-flex-container: column;
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

@media (--lg-viewport) {
  .container-fluid {
    /*width: calc(100% - 32px);
    max-width: 1280px;*/
    width: calc(100% - 20px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media (--md-viewport) {
  .container-fluid {
    width: calc(100% - 32px);
    max-width: 960px;
    /*width: 100%;
    max-width: 1300px;
    margin: 0 auto;*/
  }
}

@media (--sm-viewport) {
  .container-fluid {
    /*lost-utility: edit;*/
    width: calc(100% - 24px);
    max-width: 600px;
    /*width: 100%;
    max-width: 350px;
    margin: 0 auto;*/
  }
}

/*@media (--mobile-viewport) {
  .container-fluid {
    width: calc(100% - 24px);
    max-width: 350px;
  }
}*/
