@lost gutter 32px;
@lost flexbox flex;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  lost-flex-container: row;
}

.column {
  lost-flex-container: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

@media (--lg-viewport) {
  .container-fluid {
    width: calc(100% - 32px);
    max-width: 1280px;
  }
}

@media (--md-viewport) {
  .container-fluid {
    width: calc(100% - 32px);
    max-width: 960px;
  }
}

@media (--sm-viewport) {
  .container-fluid {
    /*lost-utility: edit;*/
    width: calc(100% - 24px);
    max-width: 600px;
  }
}

@media (--mobile-viewport) {
  .container-fluid {
    width: calc(100% - 24px);
    max-width: 350px;
  }
}
