.mt-2 {
  padding-top: 2px;
}

.mt-4 {
  padding-top: 4px;
}

.mt-6 {
  padding-top: 6px;
}

.mt-8 {
  padding-top: 8px;
}

.mt-12 {
  padding-top: 12px;
}

.mt-16 {
  padding-top: 16px;
}

.mt-24 {
  padding-top: 24px;
}

.mt-32 {
  padding-top: 32px;
}

.mt-48 {
  padding-top: 48px;
}

.mt-64 {
  padding-top: 64px;
}

.mt-128 {
  padding-top: 128px;
}

.mb-2 {
  padding-bottom: 2px;
}

.mb-4 {
  padding-bottom: 4px;
}

.mb-6 {
  padding-bottom: 6px;
}

.mb-8 {
  padding-bottom: 8px;
}

.mb-12 {
  padding-bottom: 12px;
}

.mb-16 {
  padding-bottom: 16px;
}

.mb-24 {
  padding-bottom: 24px;
}

.mb-32 {
  padding-bottom: 32px;
}

.mb-48 {
  padding-bottom: 48px;
}

.mb-64 {
  padding-bottom: 64px;
}

.mb-128 {
  padding-bottom: 128px;
}

.ml-2 {
  padding-left: 2px;
}

.ml-4 {
  padding-left: 4px;
}

.ml-6 {
  padding-left: 6px;
}

.ml-8 {
  padding-left: 8px;
}

.ml-12 {
  padding-left: 12px;
}

.ml-16 {
  padding-left: 16px;
}

.ml-24 {
  padding-left: 24px;
}

.ml-32 {
  padding-left: 32px;
}

.ml-48 {
  padding-left: 48px;
}

.ml-64 {
  padding-left: 64px;
}

.ml-128 {
  padding-left: 128px;
}

.mr-2 {
  padding-right: 2px;
}

.mr-4 {
  padding-right: 4px;
}

.mr-6 {
  padding-right: 6px;
}

.mr-8 {
  padding-right: 8px;
}

.mr-12 {
  padding-right: 12px;
}

.mr-16 {
  padding-right: 16px;
}

.mr-24 {
  padding-right: 24px;
}

.mr-32 {
  padding-right: 32px;
}

.mr-48 {
  padding-right: 48px;
}

.mr-64 {
  padding-right: 64px;
}

.mr-128 {
  padding-right: 128px;
}
